{{define "about"}}
<div class="container">
    <h1 class="section-heading">About Me</h1>
    <div class="about-content">
        I grew up in Toronto, Ontario where I completed elementary and high school. Growing up, I was an avid hockey fan. I played in organized leagues growing up and also always enjoy a nice outdoor game in the winter.
        <br>
        <br>
        I also love to travel. I've been to a few different continents and met some really cool people along the way. My travels have brought me on trips ranging from African safari to internships in San Francisco.<span class="show-places-text"> Click show places to see all the places I have traveled.</span>
        <br>
        <br>
        <div class="show-places-button-wrapper">
            <button id="show-places-button">Show Places</button>
        </div>
        <div id="map-canvas" class="map"></div>
    </div>
</div>
{{end}}