{{define "about"}}
<div class="container">
    <h1 class="section-heading">About Me</h1>
    <div class="about-content">
        I grew up in Toronto, Ontario where I completed elementary and high school. Growing up, I was an avid hockey fan. I particularly enjoy playing outdoor games in the winter.
        <br>
        <br>
        I also love to travel. I've been to a few different continents and met some really cool people along the way. My travels have brought me on trips ranging from African safari to internships in San Francisco.<span class="show-places-text"> Click show places to see all the places I have traveled.</span>
        <br>
        <br>
        <div class="show-places-button-wrapper">
            <button id="show-places-button">Show Places</button>
        </div>
        <div id="map-canvas" class="map"></div>
        <br>
        <br>
        Music is another major interest of mine. I have played guitar for many years, starting from childhood. Whenever I am at my computer and usually when I'm on the go, I always have tunes playing. Below are some of my favourite songs.
        <br>
        <iframe id="song-embed" type="text/html" src="http://www.youtube.com/embed/{{.FirstSongLink}}" frameborder="0"></iframe>
        <table class="song-table">
            <tr>
                <th>Title</th>
                <th>Artist</th> 
                <th>Link</th>
            </tr>
            {{range .OtherSongs}}
            <tr>
                <td>{{.Title}}</td>
                <td>{{.Artist}}</td> 
                <td><a href="https://www.youtube.com/watch?v={{.Link}}" target="_blank">{{.Title}}</a></td>
            </tr>
            {{end}}
        </table>
    </div>
</div>
{{end}}