{{define "home"}}
<div id="hero">
    <div class="shade">
        <div class="home-content">
            <div>
                <div id="welcome-box" class="container">
                    Hello! I'm a software engineering student at the University of Waterloo. I am interested in software development, sports, and music.
                </div>
                <div id="game" class="container">
                    <canvas id="game-canvas" width="1170" height="400"></canvas>
                    <button id="game-button">Start</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
