{{define "languages"}}
<div class="skill" label skills="js">Javascript</div>
<div class="skill" label skills="sql">SQL</div>
<div class="skill" label skills="html">HTML5</div>
<div class="skill" label skills="css">CSS3</div>
<div class="skill" label skills="java">Java</div>
<div class="skill" label skills="py">Python</div>
<div class="skill" label skills="go">Go</div>
<div class="skill" label skills="less">Less</div>
{{end}}

{{define "frameworks"}}
<div class="skill" label skills="ng">AngularJS</div>
<div class="skill" label skills="bs">Bootstrap</div>
<div class="skill" label skills="njs">Node.js</div>
<div class="skill" label skills="exp">Express</div>
<div class="skill" label skills="jq">jQuery</div>
{{end}}

{{define "tools"}}
<div class="skill" label skills="git">Git</div>
<div class="skill" label skills="lin">Linux</div>
<div class="skill" label skills="aws">AWS</div>
<div class="skill" label skills="vi">Vim</div>
<div class="skill" label skills="appe">App Engine</div>
<div class="skill" label skills="mac">Mac</div>
<div class="skill" label skills="ij">IntelliJ</div>
<div class="skill" label skills="ecl">Eclipse</div>
{{end}}

{{define "resume"}}
<div class="container">
    <h1>Resume</h1>
</div>
<div id="resume-sidebar-container">
    <div id="sidebar-container">
        <div class="inflow">
            <div id="sidebar">
                <h2 class="skills-title">Skills</h2>
                <h4 class="sidebar-section">Languages</h4>
                <div class="skill-container">
                    {{template "languages" .}}
                </div>
                <h4 class="sidebar-section">Frameworks</h4>
                <div class="skill-container">
                    {{template "frameworks" .}}
                </div>
                <h4 class="sidebar-section">Tools</h4>
                <div class="skill-container">
                    {{template "tools" .}}
                </div>
            </div>
        </div>
    </div>
    <div id="resume-container" class="resume-container container">
        <div class="resume-content">
            <div class="resume-header-bar">
                <div class="name-school">
                    <h2 class="name">Josh Chorlton</h2>
                    <div class="school">2B | Software Engineering | University of Waterloo</div>
                </div>
                <div class="contact-info">
                    <div>
                        <i class="fa fa-globe contact-icon"></i>
                        <a class="link" href="http://joshchorlton.com">joshchorlton.com</a>
                    </div>
                    <div>
                        <i class="fa fa-envelope contact-icon"></i>
                        <a class="link" href="mailto:josh@joshchorlton.com">josh@joshchorlton.com</a>
                    </div>
                    <div>
                        <i class="fa fa-mobile-phone contact-icon"></i>
                        (415) 371-9709
                    </div>
                </div>
            </div>
            <div id="skills-bar-wrapper-wrapper">
                <div id="skills-bar-wrapper">
                    <div id="skills-bar">
                        <div class="bracket">[</div>
                        <div class="skills-container-holder">
                            <div class="skills-container">
                                <h4 class="skills-bar-section">Languages:</h4>
                                {{template "languages" .}}
                            </div>
                            <div class="skills-container">
                                <h4 class="skills-bar-section">Frameworks:</h4>
                                {{template "frameworks" .}}
                            </div>
                            <div class="skills-container">
                                <h4 class="skills-bar-section">Tools:</h4>
                                {{template "tools" .}}
                            </div>
                        </div>
                        <div class="bracket">]</div>
                    </div>
                </div>
            </div>
            <div class="section section-work">
                <h2 class="section-title"><i class="fa fa-briefcase"></i> Work Experience</h2>
                <div class="subsection">
                    <div class="symphony usage" usage skills="js sql git vi css html java lin ij aws ang bs jq mac less">
                        <div class="co-first-row">
                            <a href="http://www.symphonycommerce.com" target="_blank" class="company-link">
                                <span class="company-img-wrapper"><img src="logo_symphony.png" class="company-img" alt="symphony logo"></span>
                                <span class="company-name">Symphony Commerce</span>
                            </a>
                            <span class="date">January 2015 &mdash; Current</span>
                        </div>
                        <div class="clear"></div>
                        <div class="ti-second-row">
                            <span class="title">Full Stack Software Engineer</span>
                            <span class="place">San Francisco, California</span>
                        </div>
                        <div class="clear"></div>
                        <div class="indent-image">
                            <ul class="emp-list">
                                <li>Optimized network calls, speeding up sites by up to 24%</li>
                                <li>Identified and fixed security risk affecting 68% of clients</li>
                                <li>Overhauled customer detail page for enhanced customer management</li>
                                <li>Used Scrum, XP, and OO methodologies</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sap usage" usage skills="js sql p4 vi html ecl java lin">
                        <div class="co-first-row">
                            <a href="http://www.sap.com" target="_blank" class="company-link">
                                <span class="company-img-wrapper"><img src="logo_sap.png" class="company-img" alt="sap logo"></span>
                                <span class="company-name">SAP</span>
                            </a>
                            <span class="date">April 2014 &mdash; August 2014</span>
                        </div>
                        <div class="clear"></div>
                        <div class="ti-second-row">
                            <span class="title">Application Developer</span>
                            <span class="place">Waterloo, Ontario</span>
                        </div>
                        <div class="clear"></div>
                        <div class="indent-image">

                            <ul class="emp-list">
                                <li>Developed a <a target="_blank" href="http://www.cantechletter.com/2013/11/sap-applies-big-data-university-guelph-green-roof-project1101/">sensor-driven system to optimize performance of green roofs</a></li>
                                <ul>
                                    <li>Designed database schema with triggers and stored procedures</li>
                                    <li>Implemented user-friendly web application with SAP UI5</li>
                                    <li>Wrote JavaScript to interact with database and send email alerts</li>
                                </ul>
                                <li>Used Scrum, Test Driven Development, XP, and OO methodologies</li>
                            </ul>
                        </div>
                    </div>
                    <div class="flexserv usage" usage skills="js html css bs ang njs exp git vi aws jq lin mac">
                        <div class="co-first-row">
                            <a href="http://www.flexserv.com" target="_blank" class="company-link">
                                <span class="company-img-wrapper"><img src="logo_flexserv.png" class="company-img" alt="flexserv logo"></span>
                                <span class="company-name">Flexserv</span>
                            </a>
                            <span class="date">2014</span>
                        </div>
                        <div class="clear"></div>
                        <div class="ti-second-row">
                            <span class="title">Full Stack Web Developer</span>
                            <span class="place">Toronto, Ontario</span>
                        </div>
                        <div class="clear"></div>
                        <div class="indent-image">
                            <ul class="emp-list">
                                <li>Independently developed full stack for <a href="http://www.flexserv.com">flexserv.com</a></li>
                                <li>Wrote server backend with a database, REST API, email and authentication</li>
                                <li>Created intuitive, dynamic, and responsive web pages</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projects-section section">
                <h2 class="section-title"><i class="fa fa-code"></i> Projects</h2>
                <div class="subsection">
                    <i>More projects at <a href="http://joshchorlton.com/Projects" class="link">joshchorlton.com</a>. All code available at <a class="link" href="http://github.com/jchorl">github.com/jchorl</a>.</i><br>
                    <ul>
                        <li class="usage" usage skills="html css js bs jq git vi lin mac go appe less"><b>Personal Website</b><span class="date">2014-2015</span>
                            <ul>
                                <li>Designed to be completely responsive and mobile-friendly</li>
                            </ul>
                        </li>
                        <li class="usage" usage skills="ecl vi java git lin py"><b>Project Euler</b><span class="date">2014</span>
                            <ul>
                                <li>Solved 67 problems from <a href="http://projecteuler.com">ProjectEuler.com</a></li>
                                <li>Used a plethora of data structures and parallelization</li>
                            </ul>
                        </li>
                        <li class="usage" usage skills="java git ecl sql no-print"><b>Three Android apps</b><span class="date">2012 &mdash; 2014</span>
                            <ul>
                                <li>Developed a ToDo List app, Notes app, and Snake game</li>
                                <li>Used SQLite database and threading</li>
                            </ul>
                        </li>
                        <li class="usage" usage skills="java ecl mac no-print"><b>Java games</b><span class="date">2011 &mdash; 2013</span>
                            <ul>
                                <li>Developed Tetris, Minesweeper, and Snake using Swing</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="awards-section no-print section">
                <h2 class="section-title"><i class="fa fa-trophy"></i> Awards and Accolades</h2>
                <div class="subsection">
                    <ul class="emp-list">
                        <li>Dean's Honour List<span class="date">2013 &mdash; Present</span></li>
                        <li>Colonel Hugh Heasley Engineering Scholarship<span class="date">2013</span></li>
                        <li>President's Scholarship of Distinction<span class="date">2013</span></li>
                        <li>Euclid Math Competition School Champion<span class="date">2013</span></li>
                        <li>Top of Class in Canadian Computing Competition<span class="date">2012</span></li>
                        <li>Academic Award of Excellence<span class="date">2009-2013</span></li>
                    </ul>
                </div>
            </div>
            <div class="activities no-print section">
                <h2 class="section-title"><i class="fa fa-rocket"></i> Activities and Interests</h2>
                <div class="subsection">
                    <ul class="emp-list">
                        <li>Leafs fan since birth</li>
                        <li>Music &mdash; Play guitar and practice listening regularly. See <a href="http://www.joshchorlton.com/Music">joshchorlton.com/Music</a>.</li>
                        <li>Travel &mdash; I have been to 13 countries so far. See <a href="http://www.joshchorlton.com/About">joshchorlton.com/About</a>.</li>
                        <li>Karate &mdash; Black belt</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
