{{define "songs"}}
<table class="song-table">
    <tr>
        <th>Key</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Link</th>
        <th>Order</th>
        <th>Actions</th>
    </tr>
    {{range $index, $elem := .Songs}}
    <tr>
        <form action="/api/music/update" method="put">
            <td><input type="number" name="Key" readonly="true" value="{{index $.SongKeys $index}}"></input></td>
            <td><input type="text" name="Title" value="{{$elem.Title}}"></input></td>
            <td><input type="text" name="Artist" value="{{$elem.Artist}}"></input></td>
            <td><input type="text" name="Link" value="{{$elem.Link}}"></input></td>
            <td><input type="number" name="Order" value="{{$elem.Order}}"></input></td>
            <td><input type="submit" name="Action" value="Update"></input><input type="submit" name="Action" value="Delete"></input></td>
        </form>
    </tr>
    {{end}}
</table>
{{end}}
