#hero {
        background-image: url("/hero.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;

        .shade {
                background-color: rgba(0,0,0,0.20);
                height: 100vh;
        }
}