#resume {
    background: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#resume #pdfButton {
    width: 100%;
    border: 1px solid #000;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    background: #fff;
    display: block;
}

#resume #sidebarContainerContainer {
    display: none;
}

#resume #page {
    display: none;
}

@media (min-width: 768px), print {
    #resume #pdfButton {
        display: none;
    }

    #resume a:link {
        color: inherit;
        text-decoration: none;
    }

    #resume a:link:hover {
        text-decoration: underline;
    }

    #resume #page {
        display: block;
        background: #f8f8f8;
        border: 1px solid #000;
        padding: 20px 0;
        max-width: 1200px;
        width: 100%;
        position: relative;
    }

    #resume #printButton {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #resume .content {
        width: 98%;
        margin: 0 auto;
    }

    #resume #personalInfo {
        margin-top: 30px;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #resume .nameSchool {
        text-align: right;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    #resume .name {
        font-size: 40px;
        line-height: 42px;
        margin: 0;
        font-weight: 500;
    }

    #resume .contactInfo {
        border-left: 1px solid #000;
        padding-left: 10px;
        text-align: left;
        margin-bottom: 10px;
    }

    #resume .contactIcon {
        width: 24px;
        text-align: center;
    }

    #resume #skillsBar {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        position: sticky;
        top: 80px;
        background: #f8f8f8;
        padding-bottom: 5px;
    }

    #resume #skillsBar .bracket {
        line-height: 110px;
        font-size: 120px;
        margin: 0 10px;
    }

    #resume #skillsBar .skillsContainerHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #resume #skillsBar .skillsContainer {
        display: flex;
        align-items: center;
    }

    #resume #skillsBar .skillsBarSection {
        margin: 0 10px 0 0;
    }

    #resume .active {
        background-color: rgba(91, 192, 222, 0.3);
    }

    #resume .skill {
        border: 1px solid black;
        margin: 2px 3px;
        padding: 1px 5px;
        color: #fff;
        background-color: #8a8a8a;
    }

    #resume .skill.active {
        background-color: #5bc0de;
    }

    #resume .section {
        margin: 30px;
    }

    #resume .sectionTitle {
        font-weight: 100;
        margin-bottom: 0;
    }

    #resume .subsection {
        margin-left: 20px;
        padding-top: 5px;
    }

    #resume .company {
        padding-top: 5px;
    }

    #resume .coFirstRow {
        margin-right: 0;
        margin-left: 0;
        height: 25px;
    }

    #resume .companyLink {
        float: left;
        font-weight:bold;
        line-height: 25px;
    }

    #resume .companyName {
        line-height: 25px;
        display: block;
        float: left;
        padding-left: 5px;
        text-decoration: inherit;
    }

    #resume .companyImgWrapper {
        height: 25px;
        width: 25px;
        display: block;
        float: left;
    }

    #resume .companyImg {
        max-width: 100%;
        max-height: 100%;
        vertical-align: initial;
    }

    #resume .date {
        display: block;
        line-height: 25px;
        float: right;
        color:#686868;
    }

    #resume .tiSecondRow {
        font-style:italic;
        font-size:0.75em;
        margin-left: 0;
        margin-right: 0;
    }

    #resume .title {
        margin-left: 30px;
        float: left;
    }

    #resume .place {
        display: block;
        float: right;
        color: #686868;
    }

    #resume .empList {
        margin: 5px 0 13px 24px;
    }

    #resume li {
        margin-top: 5px;
    }

    #resume .projectsAvailable {
        font-style: italic;
    }

    #resume .projectsList {
        list-style-type: none;
    }

    #resume .projectsList ul {
        list-style-type: disc;
    }

    #resume .projectTitle {
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    #resume .content {
        width: 80%;
        margin: 0 auto;
    }

    #resume .contactInfo {
        margin-right: 80px;
    }
}

@media (min-width: 1440px) {
    #resume {
        padding: 15px 0;
    }

    #resume #skillsBar {
        display: none;
    }

    #resume #resumeSidebarContainer {
        position: relative;
        width: 100%;
    }

    #resume #sidebarContainerContainer {
        display: block;
        position: absolute;
        left: 0;
        width: calc((100% - 1200px) / 2);
        height: 100%;
    }

    #resume #sidebarContainer {
        position: absolute;
        right: 5px;
        width: 220px;
        height: 100%;
    }

    #resume #sidebar {
        padding: 10px;
        background: #f8f8f8;
        border: 1px solid #000;
        position: sticky;
        top: 80px;
    }

    #resume #skillsLabel {
        font-weight: 500;
        margin: 0;
    }

    #resume .skillSectionLabel {
        font-weight: 500;
        margin: 0;
    }

    #resume .skillSection {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #resume #page {
        margin: 0 auto;
    }
}

@media print {
    #resume {
        background: none;
        padding: 0;
        font-size: 12px;
    }

    #resume #page {
        border: none;
    }

    #resume #personalInfo {
        margin-top: 0;
    }

    #resume .section {
        margin: 15px 30px;
    }

    #resume #skillsBar {
        margin-top: 15px;
    }

    #resume #skillsBar .skill {
        color: #000;
        background-color: transparent;
    }

    #resume .empList {
        margin: 5px 0 13px 10px;
    }
}
