#about {
    background: #e2e2e2;
    position: relative;
    padding: 0 15px;
}

#about .divider {
    background: #e2e2e2;
}

#about #aboutContent {
    max-width: 1200px;
    margin: 0 auto;
}

#about #map {
    height: 400px;
    width: 100%;
}
