#about {
    background: #e2e2e2;
    padding: 0 15px;
}

#about #aboutContent {
    max-width: 1200px;
    margin: 0 auto;
}

#about .showMap {
    display: none;
}

@media(min-width: 768px) {
    #about .showMap {
        display: block;
    }

    #about #map {
        height: 400px;
        width: 100%;
    }
}
